html {
  background: #f6e7fc;
  background:
    radial-gradient(circle, transparent 20%, $color-background 20%, $color-background 90%, transparent 90%, transparent),
    radial-gradient(circle, transparent 20%, $color-primary   20%, $color-primary 90%, transparent 90%, transparent) -4px -8px,
    linear-gradient($color-secondary 4px, transparent 4px) 0 -2px,
    linear-gradient(90deg, $color-secondary 4px, transparent 4px) -2px 0;

  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
  background-color: tint($color-borders, 95%);
}






.post-editor {
  background: $color-white;
  max-width: 120rem;
  margin: 0 auto 0 auto;
  border-radius: 1rem;
  padding: 4rem 2rem 4rem 2rem;
  @include shadow-box-static;
}

.post-editor-heading {
  margin: 0 0 2rem 0;
}

.editor-container {
  display: flex;
}

.post-entry {
  display: block;
  flex: 1;
  margin-right: 1.5rem;
}

.post-input {
  display: block;
  font-family: monospace;
  width: 100%;
  margin-bottom: 2rem;
}

.markdown-preview-section {
  flex: 1;
  margin-left: 1.5rem;
}





@media (min-width: 700px) {
}
